[Unit]
Description=Strict Pomodoro Daemon
After=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/strict-pomodoro.sh
Restart=always
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/%U

[Install]
WantedBy=default.target
